

.mostOfIt {
    /* margin: 20px; */
}
.wholeThing{
    margin: 0px !important;
    background-color: rgba(0, 195, 255, 0.11);
}
.activitiesHeader{
    background-color: navy;
    padding: 20px;
    color: white;
}
.parksTitle{
    background-color: navy;
    padding: 20px;
    color: white;
}