.info{
    margin: 10px;
}
img{
    padding: 0px;
    width: 75%;
    border-style: solid;
    border-width: 10px;
    border-color: black;
}
.mySlides{
    display: flex;
    justify-content: center;
}

Link{
    color: black;
}

.parkInfoTitle{
    background-color: navy;
    padding: 20px;
    color: white;
}